In [1]:
print('hello world')

hello world

In [2]:
print('hello', 'world', 'but in spaces')

hello world but in spaces

In [3]:
print(1, 'plus', 2, 'equals', 1+2)

1 plus 2 equals 3

In [4]:
name=input('give me your name: ')
print('hello ', name)

give me your name: abe
hello  abe

In [9]:
for i in range(4):
        print('hello')
        print(i)
print('bye')

hello
0
hello
1
hello
2
hello
3
bye

In [10]:
for i in range(11):
    print('4 multiplied by ', i, 'is ', 4*i)

4 multiplied by  0 is  0
4 multiplied by  1 is  4
4 multiplied by  2 is  8
4 multiplied by  3 is  12
4 multiplied by  4 is  16
4 multiplied by  5 is  20
4 multiplied by  6 is  24
4 multiplied by  7 is  28
4 multiplied by  8 is  32
4 multiplied by  9 is  36
4 multiplied by  10 is  40

In [11]:
print('%.1f %.2f %.3f' % (1.6, 1.7, 1.8))

1.6 1.70 1.800